@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

/*  COLOURS */

.ui-menu-color {
    background-color: #e67e22;
}

/*  HEADING */

header {
    margin: 0;
    font-family: "Goldman", sans-serif;
}

.PC1 {
    background: url("../image/PC1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    border: 3px solid red;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu {
    height: 100px;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
    border: 5px solid black;
    border-radius: 15px;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: black;
    height: 100px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
}

.MyPC {
    background: url("../image/MyPC.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    border: 3px solid red;
}

/*  BODY    */

body {
    font-family: "Noto Sans JP", sans-serif;
}

.PC2 {
    background: url("../image/PC2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    border: 3px solid red;
}

.PC3 {
    background: url("../image/PC3.jpg");
    background-color: green;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    border: 3px solid red;
}

.intro {
    border: 5px solid black;
    min-height: 400px;
}

.intro h2 {
    text-align:center;
}

.intro2 {
    background-color: purple;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.media {
    display: block;
    text-align: center;
    padding: 30px 25px 30px 25px;
    border: 3px solid #000000;
    border-radius: 10px;
}

.media i {
    color: #000000;
    font-size: 40px;
    padding: 25px 75px 0 75px;
}

/*  Paddings/Margins/Text   */

ul {
    list-style-type: none;
}

h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub{
    font-family: "Goldman", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

/*  Footer  */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 100px;
    margin: 0;
}